<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MasonryLearn-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6A6F7651BBB894E006B7B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A6F77E1BBB894F006B7B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A6F7891BBB894F006B7B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
